* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
}
:root {
    --black: #000f08;
    --green: #1c3738;
    --gray: #4d4847;
    --white-green: #f4fff8;
    --light-green: #627a7c;
}

main {
    padding-top: 8rem;
}

.pesquisa {
    width: 100%;
    height: 100vh;
    background-color: var(--light-green);
    display: flex;
    color: white;
}

.pesquisar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-evenly;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 60rem;
    margin: auto;
    justify-content: space-evenly
}

.inputs {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.radios{
    display: flex;
    width: 40rem;
    justify-content: space-evenly;
    font-size: 2rem;
}

.radios>input{
    width: 1.5rem;
}

#pesquisa {
    width: 25rem;
    height: 3rem;
    font-size: 1.6rem;
}

button {
    display: flex;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: white;
    font-size: 2rem;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    color: yellow;
}

table {
    width: 120rem;
    margin: 4rem auto;
    border-collapse: collapse;
    text-align: left;
    border-radius: 1rem 1rem 0 0;
    overflow: hidden;
}

thead>tr {
    background-color: var(--green);
    color: white;
}

tr>th,
tr>td {
    padding: 1.5rem 2rem;
}

tbody>tr:nth-last-of-type(even) {
    background-color: rgba(0, 0, 0, 0.100);
}

tbody>tr:last-of-type {
    border-bottom: .3rem solid var(--green);
}

tbody>tr {
    cursor: pointer;
}

tbody>tr>td>a{
    color: white;
}

tbody>tr:hover {
    background-color: var(--green);
}

.pagination {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.paginas,
.current-page {
    color: white;
    background-color: var(--green);
    padding: 1rem;
}

.paginas:hover {
    cursor: pointer;
    color: yellow;
}
