* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    font-size: 1.6rem;
}

:root {
    --black: #000f08;
    --green: #1c3738;
    --gray: #4d4847;
    --white-green: #f4fff8;
    --light-green: #627a7c;
}

main{
    width: 100%;
    height: 100vh;
    background-color: var(--light-green);
    display: flex;
    color: white;
}

.itens {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 40%;
    height: 40rem;
    margin: auto;
    justify-content: space-evenly;
}

.titulo_ferramenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
    justify-content: space-evenly;
}

.infos_produto {
    display: flex;
    flex-direction: column;
}

.nome_produto,
.valor_produto,
.categoria_produto,
.descricao_produto {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
}

input {
    width: 25rem;
    padding-left: .5px;
    margin-left: 1rem;
    font-size: 1.6rem;
}

.buttons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.buttons>button {
    display: flex;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: white;
    font-size: 2rem;
    transition: .5s;
}

.abutton {
    display: flex;
    width: 10rem;
    height: 3rem;
    align-items: center;
    justify-content: center;
    background-color: var(--green);
    color: white;
    font-size: 2rem;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    color: yellow;
}

.abutton:hover {
    cursor: pointer;
    color: yellow;
}

.del {
    background-color: red;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    width: 8rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    border-radius: 5rem;
}

.alt {
    background-color: green;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
    width: 8rem;
    height: 3rem;
    color: white;
    font-size: 2rem;
    border-radius: 5rem;
}

.del:hover,
.alt:hover {
    opacity: .8;
    color: black;
}