{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
        <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/queries.css' %}">
    <script defer src="{% static 'js/scripts.js'%}"></script>
    <title>Início - Party Pass</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#inicio"><img src="{% static 'img/logo_party_pass.png' %}" alt=""></a>
            <a href="#inicio">Party Pass</a>
        </div>
        <div class="main-nav">
            <ul class="main-nav-list">
                <li><a class="main-nav-link" href="#inicio">INÍCIO</a></li>
                <li><a class="main-nav-link" href="#main_index">FERRAMENTAS</a></li>
                <li><a class="main-nav-link" href="#sobre">SOBRE</a></li>
                <li><a class="nav-icon" href="{% url 'logout' %}"><ion-icon name="log-out-outline"></ion-icon></a></li>
            </ul>
        </div>
        <button class="btn-mobile-nav">
            <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
            <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
        </button>
    </nav>
    <header id="inicio">
        <div class="welcome">
            <h1>Seja Bem Vindo(a)!</h1>
            <h1>Conheça abaixo nossas ferramentas</h1>
            <a href="#main_index" id="down">▼</a>
        </div>
    </header>
    <main class="main_index" id="main_index">
        <h1 class="ferramentas__title">Nossas Ferramentas</h1>
        <div class="ferramentas grid grid--3-cols">
            <div class="cliente">
                <h1>Cliente</h1>
                <div class="btn__container">
                    <a class="btn btn__ferramentas" href="{% url 'cadastrar_cliente' %}">Cadastrar Cliente</a>
                    <a class="btn btn__ferramentas" href="{% url 'pesquisar_cliente' %}">Pesquisar Cliente</a>
                </div>
            </div>
            <div class="produto">
                <h1>Produto</h1>
                <div class="btn__container">
                    <a class="btn btn__ferramentas" href="{% url 'cadastrar_produtos' %}">Cadastrar Produto</a>
                    <a class="btn btn__ferramentas" href="{% url 'pesquisar_produtos' %}">Pesquisar Produto</a>
                </div>
            </div>
            <div class="comanda">
                <h1>Comanda</h1>
                <div class="btn__container">
                    <a class="btn btn__ferramentas" href="{% url 'pesquisar_comanda' %}">Recarregar Comanda</a>
                    <a class="btn btn__ferramentas" href="{% url 'pesquisar_comanda_consumo' %}">Realizar Consumo</a>
                </div>
            </div>
        </div>
    </main>
    <div class="sobre" id="sobre">
        <div class="titulo">
            <h1>Sobre Nós!</h1>
            <h2>Estudantes da 4ª Fase do Curso Superior de Tecnologia em Análise e Desenvolvimentos de Sistemas na
                Faculdade de Tecnologia Senac Palhoça</h2>
            <h2>Party Pass foi desenvolvido durante a disciplina de Desenvolvimento Web, orientados pelo Professor
                Wildson Caio</h2>
        </div>
        <div class="cards grid grid--4-cols">
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/84816808?v=4" alt="">
                <h2>Ana Flávia de Freitas Corrêa</h2>
                <div class="personal_icons">
                    <a href="https://www.instagram.com/anafreitascorrea/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/anaflaviafreitascorrea/"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/AnaFlaviaCorrea"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/105252686?v=4" alt="">
                <h2>Natália Heinzen</h2>
                <div class="personal_icons">
                    <a href="https://www.instagram.com/nataliaheinzen/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/nataliahnzn/"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/natalia-hnzn"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/103196282?v=4" alt="">
                <h2>Pedro Paulo de Abreu</h2>
                <div class="personal_icons">
                    <a href="https://www.instagram.com/pdropaullo/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/pdropaullo/"><i class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/pdropaullo"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
            <div class="card">
                <img src="https://avatars.githubusercontent.com/u/92828001?v=4" alt="">
                <h2>Thiago Ruan Costa</h2>
                <div class="personal_icons">
                    <a href="https://www.instagram.com/thiago.rcosta/"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/in/thiago-ruan-costa/"><i
                            class="fa-brands fa-linkedin-in"></i></a>
                    <a href="https://github.com/Thiagor34"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <div class="geral grid grid--3-cols">
            <div class="logo2">
                <a href="#inicio"><img src="{% static 'img/logo_party_pass.png' %}" alt=""></a>
            </div>
            <div class="contato">
                <div class="telefone">
                    <h2>Telefone</h2>
                    <h3>+55 (48) 91234-5678</h3>
                </div>
                <div class="email">
                    <h2>Email</h2>
                    <h3><a href="mailto:party.pass.senac@gmail.com">party.pass.senac@gmail.com</a></h3>
                </div>
            </div>
            <div class="infos">
                <div class="sede">
                    <h3>Rua Drink, 51, Florianópolis - SC</h3>
                </div>
                <div class="social">
                    <h2>Siga-nos</h2>
                    <div class="icons">
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-youtube"></i></i></a>
                        <a href=""><i class="fa-brands fa-linkedin-in"></i></a>
                        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
                        <a href="https://github.com/pdropaullo/Party_Pass_Web"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="rodape">
            <h4>Party Pass Tecnologia LTDA. | 2023 | Todos os direitos reservados.</h4>
        </div>
    </footer>
</body>

</html>